
$dark:      #0B0D28;
$light1:    #F4EDDA;
$light2:    #DBB795;
$light3:    #BF7257;
$highlight: #D70538;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-color: $light1;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}
