<!doctype html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="language" content="fr" />
    <title>Est-ce qu&rsquo;on peut courir demain ?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
    <link rel="stylesheet" href="https://ssl10.ovh.net/~bfontain/fonts/ss-forecast/webfonts/ss-forecast.css" />
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {#
    <link rel="icon" type="image/png" href="/static/icons/app.png" />
    <link rel="apple-touch-icon"      href="/static/icons/app.png" />
    #}
    <meta name="author"   content="Baptiste Fontaine" />
  </head>
  <body class="app">
    {# for FB: #}
    {# <img style="display:none" src="/static/icons/app.png" /> #}
      <div class="content">
        <h1>{{ g.title }}</h1>
        <p class="answer">{{ g.data.answer|capitalize|safe }}</p>
        <div class="data">
          <div class="data-block pollution {{ g.data.pollution.tomorrow.class }}">
            <h2>Pollution</h2>
            <div class="data-content">
              <i class="ss-icon icon" title>&#xF255;</i>
              <p class="value">
              <span class="indice">{{ g.data.pollution.tomorrow.value }}</span><span class="sep">/</span><span class="static-max">100</span>
              </p>
            </div>
          </div>
          <div class="data-block weather {{ g.data.weather.tomorrow.class }}">
            <h2>Météo</h2>
            <div class="data-content">
              <i class="ss-icon icon" title="{{ g.data.weather.tomorrow.condition }}">{{ g.data.weather.tomorrow.icon|safe }}</i>
              <p class="values">
                <span class="max">{{ g.data.weather.tomorrow.high }}</span>
                <span class="min">{{ g.data.weather.tomorrow.low  }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
      <footer>
        <p class="sources">Données pollution&nbsp;: <a href="http://www.airparif.asso.fr" rel="external nofollow">Airparif</a>,
                           données météo&nbsp;: <a href="http://www.previmeteo.com/" rel="external nofollow">Previmeteo</a></p>
        <p class="author">&copy;&nbsp;2014 <a href="http://bfontaine.net" class="text" />Baptiste Fontaine</a></p>
      </footer>
    {% assets "js_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- last data update: {{ g.data.last_fetch }} -->
  </body>
</html>

